.navbar-toggle{
    background-color: transparent; /* make the button transparent */
    border-color: transparent;
  }
  .container-fluid .row{
    margin: 2rem;
  }
  .embed-responsive{
    text-align: center;
  }
  .container-right{
    margin: 1rem;
  }
  .header-container h3{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
#ul-container{
    list-style-type: none;
    padding: 0;
  }
  #footer-container{
    text-align: center;
    display: inline;
  }
  #ul-container li{
    display: inline;
  }
  .ul-item{
    margin: 0 7rem 0 7rem;
    text-decoration: none;
    color: black;
  }